body {
  font-family: "JetBrains Mono", monospace;
  font-family: "Roboto Condensed", sans-serif;
  width: 70%;
  margin: 10px auto;
}
header {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: 90% / contain no-repeat url("AShleiko_photo.jpg"),
    linear-gradient(to top, white 60%, #3176df 40%);
}
hr {
  border: solid 1px #3176df;
}
h3 {
  display: inline;
}
h4,
h5 {
  color: #938989;
  font-size: 20px;
}
i {
  padding: 5px;
  font-size: 24px;
  color: #3176df;
}
ul,
dl {
  list-style-type: none;
  color: #938989;
  padding-left: 20px;
}
p {
  color: #938989;
}
a {
  padding: 10px;
}
.languages li,
.contacts li {
  display: inline-block;
}
